<html>
    <head>
        <meta charset='utf-8' />
        <title>ใบรับเครื่องซ่อม</title>
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">
    </head>
    <body>
        <div class="card" style="width: 40%;">
            <h5 class="card-header">ใบรับเครื่องซ่อม</h5>
            <div class="card-body">
                <img src="{{DataURL}}" />
                <p>Ticket title : {{detail.title}}</p>
                <p>Ticket Content: {{detail.content}}</p>
                <p v-if="history.status_type.status_id == 8">Claim Date:
                    {{history.createdAt}}</p>
                <p>Customer Name: {{detail.customer_name}}</p>
                <p>Customer Email: {{detail.customer_email}}</p>
                <p>Customer Phone: {{detail.customer_phone}}</p>
                <p>Agent Name: {{history.add_by.username}}</p>
            </div>
        </div>
    </body>
</html>